<!-- inherit from base.html-->
{% extends "calendar_app/base_template.html" %}

<!-- For displaying images -->
{% load static %}

<!-- Add custom styling; for MonthView table generation -->
{% block style %}
<style>
.table-fixed {
    table-layout: fixed; /* Make day cells uniform in size */
}
td {
    overflow: hidden; /* Using "auto" breaks outside of the cell */
}
</style>

{% include './color_class_css.html'%}
{% endblock %}


<!-- Replace block content in base_template.html -->
{% block content %}

<!-- Container div -->
<div class="container-lg">
    <!-- Page name heading -->
    <p><h1>Month View Calendar</h1></p>

    <!-- Main content (Left buttons and calendar) -->
    <!-- Row containing columns -->
    <div class="row">
        <!-- Left-side column -->
        <div class="col-2">

            <!-- Left-side button group (vertical) -->
            <div class="btn-group-vertical">
                <!-- Month and week view buttons -->
                <a class="btn btn-primary disabled" href="{% url 'month-view' %}" role="button">Month View</a>
                <a class="btn btn-primary" href="{% url 'week-view' %}" role="button">Week View</a>
                <!-- Task creation button -->
                <a class="btn btn-primary" href="{% url 'create-task' %}" role="button">Add Task</a>
                <div class ="dropdown btn btn-primary">
                    <!-- Dropdown for the different categories-->
                    <button class="btn btn-primary dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">Filter</button>
                        <ul class="dropdown-menu">
                            <li>
                            <a class="dropdown-item" href="{% url 'month-view' %}">All Categories</a>
                            </li>
                            {% for category in category_list %}
                            <li>
                                <a class="dropdown-item btn" href="{% url 'filtered-month-view' category.pk%}">{{ category.name }} </a>
                            </li>
                            {% endfor %}
                            <li>
                            <a class="dropdown-item" href="{% url 'category-list' %}">Edit Categories</a>
                            </li>
                        </ul>
                </div>
            </div> <!-- End of left-side button group -->
        
        </div> <!-- End of left-side column -->

        <!-- Right-side calendar column -->
        <div class="col-10">
            <!-- Month header -->
            <div class="row text-center">
                <!-- Prev month -->
                <div class="col-1">
                    <a class="btn btn-primary btn-sm" href="{% url 'month-view' %}?{{ prevMonth }}" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/></svg>
                    </a>
                </div>

                <!-- Month name and year -->
                <div class="col-10">
                    <h2>{{monthAndYear}}</h2>
                </div>

                <!-- Next month -->
                <div class="col-1">
                    <a class="btn btn-primary btn-sm" href="{% url 'month-view' %}?{{ nextMonth }}" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/></svg>
                    </a>
                </div>
            </div> <!-- End of month header -->
          
            <!-- Calendar generated by MonthView -->
            {{ calendar }}
        </div> <!-- End of right-side calendar column -->
    </div> <!-- End of row containing columns -->
</div> <!-- End of container div -->

{% endblock %}