<!-- inherit from base.html-->
{% extends "calendar_app/base_template.html" %}

<!-- For displaying images -->
{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}

<!-- Container div -->
<div class="container-lg">
    <!-- Page name heading -->
    <p><h1>Dashboard</h1></p>

    <!-- Main content (Left buttons and calendar) -->
    <!-- Row containing columns -->
    <div class="row">
        <!-- Left-side column -->
        <div class="col-2">

            <!-- Left-side button group (vertical) -->
            <div class="btn-group-vertical">
                <a class="btn btn-primary" href="#" role="button">Week View</a>

                <!-- Added URL to create_task-->
                <a class="btn btn-primary" href="{% url 'create_task' %}" role="button">Add Task</a>



            </div> <!-- End of left-side button group -->
        
        </div> <!-- End of left-side column -->

        <!-- Right-side calendar column -->
        <div class="col-10">
            <!-- Month and buttons -->
            <div class="row text-center">

                <!-- Left arrow button -->
                <div class="col-1">
                    <a class="btn btn-primary btn-sm" href="#" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                        </svg>
                    </a>
                </div>

                <!-- Month -->
                <div class="col-10">
                    <h2>March</h2>
                </div>
                
                <!-- Right arrow button -->
                <div class="col-1">
                    <a class="btn btn-primary btn-sm" href="#" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                        </svg>
                    </a>
                </div>

            </div> <!-- End of month and buttons -->

            <!-- Calendar table -->
            <table class="table table-bordered">

                <!-- Days of the week-->
                <thead>
                    <tr class="text-center">
                        <th scope="col">S</th>
                        <th scope="col">M</th>
                        <th scope="col">T</th>
                        <th scope="col">W</th>
                        <th scope="col">T</th>
                        <th scope="col">F</th>
                        <th scope="col">S</th>
                    </tr>
                </thead> <!-- End of days of the week-->
                
                <!-- Calendar body -->
                <tbody>
                    <!-- Placeholder body -->
                    <tr class="text-end">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1<br><br>&nbsp;</td>
                        <td>2<br><br>&nbsp;</td>
                    </tr>
                    <tr class="text-end">
                        <td>3<br><br>&nbsp;</td>
                        <td>4<br><br>&nbsp;</td>
                        <td>5<br><br>&nbsp;</td>
                        <td>6<br><br>&nbsp;</td>
                        <td>7<br><br>&nbsp;</td>
                        <td>8<br><br>&nbsp;</td>
                        <td>9<br><br>&nbsp;</td>
                    </tr>
                    <tr class="text-end">
                        <td>10<br><br>&nbsp;</td>
                        <td>11<br><br>&nbsp;</td>
                        <td>12<br><br>&nbsp;</td>
                        <td>13<br><br>&nbsp;</td>
                        <td>14<br><br>&nbsp;</td>
                        <td>15<br><br>&nbsp;</td>
                        <td>16<br><br>&nbsp;</td>
                    </tr>
                    <tr class="text-end">
                        <td>17<br><br>&nbsp;</td>
                        <td>18<br><br>&nbsp;</td>
                        <td>19<br><br>&nbsp;</td>
                        <td>20<br><br>&nbsp;</td>
                        <td>21<br><br>&nbsp;</td>
                        <td>22<br><br>&nbsp;</td>
                        <td>23<br><br>&nbsp;</td>
                    </tr>
                    <tr class="text-end">
                        <td>24<br><br>&nbsp;</td>
                        <td>25<br><br>&nbsp;</td>
                        <td>26<br><br>&nbsp;</td>
                        <td>27<br><br>&nbsp;</td>
                        <td>28<br><br>&nbsp;</td>
                        <td>29<br><br>&nbsp;</td>
                        <td>30<br><br>&nbsp;</td>
                    </tr>
                    <tr class="text-end">
                        <td>31<br><br>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody> <!-- End of calendar body -->

            </table> <!-- End of calendar table -->
        </div> <!-- End of right-side calendar column -->
    </div> <!-- End of row containing columns -->
</div> <!-- End of container div -->

{% endblock %}
