<!-- inherit from base.html-->
{% extends "calendar_app/base_template.html" %}

<!-- For displaying images/scripts -->
{% load static %}
{% load view_extras %}
<!-- Add custom styling for category color -->
{% block style %}
  {% include './color_class_css.html'%}
  <style>
    .table-fixed {
      table-layout: fixed;
      word-wrap: break-word;
      hyphens: auto; /* This doesn't work yet */
    }
    .task {
      border-width: 0; /* Remove button borders to match month view */
    }
    plain {
      font-weight: normal;
    }
    .table-fixed td.today {
      border: -2px solid lightgray !important; /* Outline today's date */
      background-color: lightgray !important; /* Add light blue background to the current date cell */
      font-weight: bold !important; /* Make the current date bold */
    }
  </style>
{% endblock %}

<!-- Replace block content in base_template.html -->
{% block content %}

<!-- Javascript scripts for on hover details viewing -->
<script>
    function hover(task) {
        var tooltip = document.getElementById('tooltip');
        tooltip.innerHTML = task;
        tooltip.style.display = 'block';
    }

    function hide() {
        var tooltip = document.getElementById('tooltip');
        tooltip.style.display = 'none';
    }
</script>

<!-- Container div -->
<div class="container-lg">
  <!-- Page name heading -->
  <p><h1>Week View Calendar</h1></p>

  <!-- Main content (Left buttons and calendar) -->
  <!-- Row containing columns -->
  <div class="row">

    <!-- Left-side column -->
    <div class="col-2">
      <!-- Left-side button group (vertical) -->
      <div class="btn-group-vertical w-100">
        <!-- Month and week view buttons -->
        <a class="btn btn-primary" href="{% url 'month-view' %}" role="button">Month View</a>
        <a class="btn btn-primary disabled" href="{% url 'week-view' %}" role="button">Week View</a>
        
        <!-- Task creation button -->
        <a class="btn btn-primary" href="{% url 'create-task' %}" role="button">Add Task</a>
        
        <!-- Category/filtering dropdown -->
        <!-- Filter button -->
        <button class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Filter</button>
          <!-- Dropdown menu UL -->
          <ul class="dropdown-menu w-100 text-center">
            <!-- All categories button -->
            <li>
              <a class="dropdown-item" href="{% url 'week-view-date' day=day year=year month=month%}">Clear Filter</a>
            </li>
              
            <!-- List of categories to filter by -->
            {% for category in category_list %}
            <li>
              {% if category_str|toggle_category:category.pk%}
              <a class="dropdown-item category-{{ category.id }} btn" href="{% url 'filtered-week-view-date' category_str=category_str|toggle_category:category.pk day=day year=year month=month %}">
              {% else %}
              <a class="dropdown-item category-{{ category.id }} btn" href="{% url 'week-view-date' day=day year=year month=month %}">
              {% endif %}

              {% if category.pk in filter_category_list%}
              &#10003;
              {% endif %}
              {{ category.name }} </a>
            </li>
            {% endfor %}
            <li>
              <a class="dropdown-item" href="{% url 'create-category' %}">Add Category</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'category-list' %}">View Categories</a>
            </li>
          </ul> <!-- End of dropdown menu UL -->
        <!-- End of category/filtering dropdown -->
      </div> <!-- End of left-side button group -->
    </div> <!-- End of left-side column -->

    <!-- Right-side calendar column -->
    <div class="col-10">
      <!-- Week Navigation -->
      <div class="row text-center">
        <!-- Previous week button -->
        <div class="col-1">
          <a href="{{ prev_week_url }}" class="btn btn-primary btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/></svg>
          </a>
        </div>

        <!-- Display current week range -->
        <div class="col-10">
          <h2>{{ start_of_week|date:"F j, Y" }} - {{ end_of_week|date:"F j, Y" }}</h2>
        </div>
        
        <!-- Next week button -->
        <div class="col-1">
          <a href="{{ next_week_url }}" class="btn btn-primary btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/></svg>
          </a>
        </div>
      </div> <!-- End of week navigation -->

      <!-- Calendar table -->
      <table class="table table-bordered table-fixed text-center">
        <!-- Week header -->
        <!-- Table head for styling -->
        <thead>
          <tr>
            <th scope="col">S<br><plain>{{ weekday_dates.0|date:"F j" }}</plain></th>
            <th scope="col">M<br><plain>{{ weekday_dates.1|date:"F j" }}</plain></th>
            <th scope="col">T<br><plain>{{ weekday_dates.2|date:"F j" }}</plain></th>
            <th scope="col">W<br><plain>{{ weekday_dates.3|date:"F j" }}</plain></th>
            <th scope="col">T<br><plain>{{ weekday_dates.4|date:"F j" }}</plain></th>
            <th scope="col">F<br><plain>{{ weekday_dates.5|date:"F j" }}</plain></th>
            <th scope="col">S<br><plain>{{ weekday_dates.6|date:"F j" }}</plain></th>
          </tr>
        </thead><!-- End of week header -->

        <!-- Week days -->
        <tr>
          <!-- For loop to get tasks -->
          {% for day, tasks in days_tasks.items %}
            <!-- Day cel -->
              {% if day == current_day_name %}
                <!-- Apply "today" class only to the current day -->
                <td scope="col" class="col-1 today">
              {% else %}
                <td scope="col" class="col-1">
              {% endif %}
              <!-- Task buttons -->
              <p>
                {% for task in tasks %}
                  <button class="btn btn-primary btn-sm task w-100 {% if task.category %}category-{{ task.category.id }}{% endif %}" onclick="window.location.href='{% url 'task-detail' task.id %}'" onmouseover="hover('{{ task.description }}')" onmouseout="hide()">
                    {% if task.status %} <!-- Strikethrough if task is complete -->
                      <s>{{ task.name }}</s>
                    {% else %}
                      {{ task.name }}
                    {% endif %}
                  </button>
                <!-- Text for if there are no tasks -->
                {% empty %}
                  <plain class="text-muted">No tasks</plain>
                {% endfor %}
              </p> <!-- End of task buttons -->
            </td> <!-- End of day cel -->
          {% endfor %}
        </tr> <!-- End of week days -->
      </table><!-- End of calendar table -->
    </div> <!-- End of right-side column -->
  </div> <!-- End of row containing columns -->
  <div id="tooltip"></div>
</div> <!-- End of container div -->
<!-- Debugging -->
<!--<p>weekday_date: {{ weekday_date }}</p>-->
<!--<p>weekday_date: {{ weekday_date|date:"Y-m-d" }}</p>-->
<!--<p>current_day: {{ current_day|date:"Y-m-d" }}</p>-->
<!--<p>Current Day Name: {{ current_day_name }}</p>-->
{% endblock %}
